*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
}

header{
  background-color:#FF7F27 ;  
  height: 80px;
  font-family: arial;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 44px;
  margin-right: 20px;
  margin-top: 10px;
}

.nav{

}

.nav_one{
    background-color:#FF7F27 ;  
  height: 80px;
  font-family: arial;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 44px;
  margin-right: 20px;
  margin-top: 10px;

}

.article{
    overflow: hidden;
}

.left{
    margin-left: 45px;
    margin-right: 27px;
    margin-top: 7px;
    background-color:#FF7F27 ;  
    height:100px;
    width: 58%;
    float:left;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    color:white;


}

.right{
    margin-left: 14px;
    margin-right: 21px;
    margin-top: -99px;
    background-color:#FF7F27 ;  
    height:200px;
    width: 34%;


    color: white;
    font-size: 25px;
    text-align: center;
    float:right;

  }
.left_one {

    background-color:#FF7F27 ;  
    height:100px;
    width: 58%;
    float: left;
    display: inline;
    margin-left: 45px;
    margin-right: 27px;
    margin-top: 7px;
    font-size: 20px;
    text-align: center;
    color:white


}

footer{
    background-color:#FF7F27 ;  
    height: 80px;
    font-family: arial;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 44px;
    margin-right: 20px;
    margin-top: 10px;
}