body{
    background-color: blue;
}

header{
    height: 80px;
    background-color: cornflowerblue;
    color: white;
    font-size: 30px;
    text-align: center;
    display: block;
    border-radius: 0ch;
    margin-bottom: 15px;
    font-family: arial;

}

*{
    margin:0;
    padding:0;}


.article{
   overflow: hidden;
}

.left{
    height: 400px;
    background-color: rgb(20, 85, 204);
    width:20%;
    text-align: center;
    font-size: 30px;
    color: white;
    float:left;
    display: block;
    margin-left: 15px;
}

.center{
    height: 400px;
   background-color:  rgb(20, 85, 204);
    width:50%;
    text-align: center;
    font-size: 30px;
    color: white;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
    overflow: hidden;

}

.right{
    height: 400px;
   background-color: rgb(20, 85, 204);
    width:20%;
    text-align: center;
    font-size: 30px;
    color: white;
    float: left;
    margin-left: 15px;
    border-radius: 0ch;
    margin-bottom: 15px;
}

footer{
    background-color: cornflowerblue;
    height: 80px;
    font-size: 30px;
    text-align: center;
    font-family: arial black;
    color: white;
}

.top{
    height:15%;
    background-color: burlywood;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.middle{
    height:40%;
    background-color: burlywood;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.bottm{
    height:15%;
    background-color: burlywood;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
} 