/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-se;
font-family: 'Poppins', sans-serif;
*/


*{
    margin:0;
    padding: 0;
}

body{
    background-color: black;
}

.container{
    width: 1400px;
    position: relative;
    margin: 0 auto;
}



.signup_content{
    
    margin: 90px 0px;
    display: flex;
    display: -webkit-box;
}

.imgBox{
    width: 50%;
}

.imgBox, .content_box{
    width: 50%;
}

.imgBox img{
   
   max-width: 100%;
   height: auto;
   display: block;
   
}

.content_box{
    background-color: #fff;
}

form{
    padding: 50px 100px 50px 70px;
    display: block;
    margin-top: 0cm;
}

.content_box h2{
    margin-bottom: 23px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.sign_up{
    display: flex;
    display: -webkit-box;
    margin: 0px -15px;
    box-sizing: border-box;
}


.sign_up .signup_input{
    width: 45%;
    padding: 0px 15px;
    margin-bottom: 23px;
    display: block;
    
}

.signup_input input{
    width: 100%;
    display: block;
    padding: 11px 20px;
    border: 1px solid #ebebeb;
    outline:none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.signup_input input:hover{
   outline:1px solid #ff6801;
}


level{
    margin-bottom: 2px;
    display: block;
    margin-left: 0px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 14px; 
}

.form_group{
}

.form_group input{
    width: 100%;
    padding: 11px 6px;
    margin-bottom: 23px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    outline: none;
  
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.form_group input:hover{
    outline: 1px solid#ff6801;
}

.form_group level{
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.form_radio{
    margin-bottom: 18px;
    display: flex;
    display: -webkit-box;
    box-sizing: border-box;
}

.form_radio level{}

.radio_items{
    position: relative;
    margin-left: 45px;
}

.radio_level{
    padding-right: 72px;
}

.form_radio input[type=radio]:checked .check{
    background-color: #ff6801;

}

.signup_input select{
    width: 99%;
    display: block;
    padding: 11px 6px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    outline:none
    
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.signup_input select:hover{
    outline: 1px solid#ff6801;
         
}


.form_group select{
    
width: 100%;
    
padding: 11px;
    
margin-bottom: 23px;
    
box-sizing: border-box;
border: 1px solid #ebebeb;
outline:none;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}

.form_group select:hover{
    outline: 1px solid #ff6801;
}
.form_submit{
    text-align: right;
    padding-top: 27px;
}

.submit{
    width: 139px;
    height: 40px;
    padding: 10px;
    border: none;
    font-size: 13px;
    background:#ff6801;
    font-family: 'Poppins', sans-serif;
}

#reset{
    margin-right: 7px;
    color: #999;
    background: #f8f8f8;
}



#reset:hover{
    background:#ff6801;
    color:#fff;
}

.submit:hover{
    background:#CD5300;
    color: #fff;
}
