*{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin:0;
    padding:0;
}
.main_row{
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    background-image: url(../images/background1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}
header::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -1;
}
.height{
    min-height: 90vh;
    display: flex;
    align-items: center;
    
}
.theme{
    align-items: center;
    min-height: 90vh;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.toggle span {
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-8px);
    width: 15px;
    left: 0px;
}

.toggle.active span:nth-child(1) {
    width: 20px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
    transform: translateY(8px);
    width: 15px;
    left: 0px;
}

.toggle.active span:nth-child(2) {
    width: 20px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
    transform: translateX(60px);
}
 .nav-item .nav-link{
    color: #fffefe;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
 }
 .navbar-nav .nav-item .nav-link{
    padding-left: 0px;
    padding-right: 0px;
    margin-right:10px;
}
 .nav-item .nav-link::before{
    content:   "";
    position: absolute;
    bottom:0%;
    left:0;
    width:0%;
    height: 3px;
    background-color: #008ed6;
     transition: .2s ease-in-out;
 
}
 .nav-item .nav-link:hover::before{
    width:45%;
   
}   
 .nav-item .nav-link::after{
    content:   "";
    position: absolute;
    bottom:0%;
    right:0;
    width:0%;
    height: 3px;
    background-color: #008ed6;
     transition: .2s ease-in-out;
 
}
 .nav-item .nav-link:hover::after{
    width:45%;
   
}

header h4{
    color: #008ed6;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
header h2{
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}
header p{
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.btn_download{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    padding: 15px 30px;
    background: #008ed6;
    border: none;
    font-weight: bold;
}
.btn_view{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
    border: none;
    border: 1px solid #adadae;
    padding: 0;
    padding: 15px 30px;
    margin-right: 4px;
}
.btn_download:hover{
    color: #fff;
    
}
.btn_view:hover{
    color: #fff;
  
    border: transparent;
}
.feature{
    padding: 50px 0px;
    position: relative;
}
.product{
    text-align: center;
    margin-bottom: 20px;
}
.product h2{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
}
.product h4{
    color: #008ed6;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.product span{
    margin:
    auto;
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    margin-top: 20px;
}
.product span::before{
    content:   "";
    position: absolute;
    bottom:0%;
    left:0;                                                                             
    width:0%;
    height: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    background-color: #008ed6;
     transition: .2s ease-in-out;
}
.feature:hover .product span::before{
    width:45%;
}

.product span::after{
    content:   "";
    position: absolute;
    bottom: 0%;
    right:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
}
.feature:hover .product span::after{
    width:45%;
}

.feature_one{
    text-align: center;
}
.feature_img{}
.feature_img img{
    width: 60px;
}
.feature_one h2{
    color: #1a1a1a;
    font-size: 24px;
    margin-top: 10px;
}
.feature_one p{
    font-size: 16px;
    margin-top: 10px;
    color: #999999;
}
.device_section{
    padding: 50px 0px;
}
.phone_two{
}
.phone_two img{}
.device{
    margin-top: 50px;
}
.device h4{
    font-size: 20px;
    color: #008ed6;
    font-weight: bold;
    margin-bottom: 10px;
}
.device h2{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
}
 .device span{
    
position: relative;
    
display: block;
    
width: 50px;
    
height: 3px;
    
margin-top: 10px;
    
margin-bottom: 10px;
 }
.device span::before{
    content:   "";
    position: absolute;
    bottom:0%;
    left:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
 
}
.device_section:hover .device span::before{
    width:45%;
  
}
.device span::after{
    content:   "";
    position: absolute;
    bottom:0%;
    right:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
 
}
.device_section:hover .device span::after{
    width:45%;
  
}
.device p{color: #999999;font-size: 18px;font-weight: 400;margin-bottom: 40px;}

.design_section{
    display: flex;
    margin-bottom: 20px;
}
.design_img{
}
.design_img img{
}
.design_text{}
.design_text h3{
    font-size: 18px;
    color: #999999;
    margin-left: 15px;
}
.customize_section{
    background: #f2f2f2;
}
.customize{
    margin-top: 71px;
}
.customize h4{
    color: #008ed6;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}
.customize h2{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}
.customize p{
    color: #999999;
    font-size: 18px;
}
.customize span{
   
position: relative;
   
display: block;
   
width: 50px;
   
height: 3px;
   
margin-top: 10px;
   
margin-bottom: 10px;
}
.customize span::before{
    content:   "";
    position: absolute;
    bottom:0%;
    left:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
}

.customize_section:hover .customize span::before{
    width:45%;
}

.customize span::after{
    content:   "";
    position: absolute;
    bottom:0%;
    right:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
}

.customize_section:hover .customize span::after{
    width:45%;
}
.customize_img{
    margin-top: 30px;
}
.customize_img img{}
.quality_section{
    background-image: url(../images/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: cover;
    min-height: 60vh;
    position: relative;
    z-index: 0;
}
.quality_section::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -1;
}
.quality{
    text-align: center;
    margin-top: 40px;
}
.quality h4{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #008ed6;
}
.quality h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
.quality span{
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin:
    auto;
}  
.quality span::before{
    content:   "";
    position: absolute;
    bottom:0%;
    left:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
}
.quality_section:hover .quality span::before{
    width:45%;
}
.quality span::after{
    content:   "";
    position: absolute;
    bottom:0%;
    right:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
}
.quality_section:hover .quality span::after{
    width:45%;
}
.text{
    margin-top: 30px;
}
.text h3{
    color: #fff;
    font-size: 24px;
    margin-top: 15px;
    font-style: italic;
    margin-bottom: 15px;
}
.theme_section{
    display: flex;
}
.text_two h2{
    color:#fff;
}
.pricing_plan{
  display: flex;
}
.pricing_img{}
.pricing_img img{}
.plan_section{
    margin-left: 10px;
}
.plan_section h5{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.plan_section p{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.like{
    background: #000;
    padding: 30px;
}
.{
    display: flex;
}
.text_one{}
.text_one h2{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
.text_two{}
.text_two h3{
    color: #fff;
    font-size: 36px;
    font-weight: 200;
}
.button_section{}
.price_section{
    padding: 40px;
}
.price{
    text-align: center;
    margin-bottom: 40px;
}
.price span{
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin:
    auto;
}  
.price span::before{
    content:   "";
    position: absolute;
    bottom:0%;
    left:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
}
.price_section:hover .price span::before{
    width:45%;
}
.price span::after{
    content:   "";
    position: absolute;
    bottom:0%;
    right:0;
    width:0%;
    height: 100%;
    background-color: #008ed6;
     transition: .2s ease-in-out;
}
.price_section:hover .price span::after{
    width:45%;
}
.price h5{
    color: #008ed6;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.price h3{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}
.Price_span{
    margin: auto;
}
.price

.pricing{
    border: 1px solid #f2f2f2;
    padding: 30px 0px;
}
.text_content{
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 0px;
    text-align: center;
   
}
.text_content h2{
    color: #1a1a1a;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.pricing_tag h2{
    
    text-align: center;
    margin-top: 5px;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 5px;
}
.pricing_tag{
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 0px;
    color: #1a1a1a;
}
.pricing_tag h3{
    text-align: center;
    font-size: 18px;
    color: #999999;
}
.para{
    padding: 15px 23px;
    border-bottom: 1px solid #f2f2f2;
}
.para p{
    text-align: center;
    margin-top: 20px;
    color: #999999;
    padding: 0px 13px;
}
.span_lacina{
    color: #008ed6;
}
.now{
    text-align: center;
}
.btn_now{
    border: 1px solid #f2f2f2;
    padding: 5px 20px;
    text-transform: uppercase;
    margin-top: 15px;
    color: #008ed6;
    font-size: 14px;
    font-weight: bold;
}
.pricing:hover .text_content h2, h3{
    color: #008ed8;
    transition: .4s all ease-in-out;
}
.pricing:hover .pricing_tag{
    background-color: #008ed8;
    color: #fff;
    transition: .4s all ease-in-out;
}
.pricing:hover .btn_now{
    background-color: #008ed8;
    color: #fff;
    transition: .4s all ease-in-out;
}
.contact_section{
    padding: 50px 0px;
    background: #ededed;
    position: relative;
    padding-bottom: 250px;
    
}
.contact{
   
    text-align: center;
}

.contact_form{
    position: absolute;

    width: 80%;

    left: 50%;

    transform: translateX(-50%);

    bottom: -100px;
}
.contact h5{
    font-size: 14px;
    color: #008ed6;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.contact h3{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
}
.contact_section form {
    background-color: #000;
    padding: 40px 50px;
    
}

.contact_section form input {

    background: transparent;

    margin-bottom: 22px;
}

.contact_section form textarea {

    background: transparent;

    margin-bottom: 15px;
}

.contact_section form input[type="submit"] {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    padding: 10px 15px;
    background: #008ed6;
    border: 1px solid #008ed6;
    font-weight: bold;
    margin: 0;
    border-radius: 3px;
}
.contact_section form input[type="submit"]:hover{
    background: #04a9fc;
    transition: .5s all ease-in-out;
}

.phone_section{
    text-align: center;
    margin-top: 40px;
}
.phone{
    text-align: center;
}
.phone img{}
.list_itmes{
    margin-top: 15px;
}
.list_itmes ul{
    list-style: none;
    margin-top: 10px;
}
.list_itmes ul li{
    font-size: 18px;
    color: #999999;
    margin-top: -2px;
}
.iframe{
    width: 100%;
}
.container{
    width:100%
}
.quality_carousel .owl-dots{
    display: flex;
    justify-content: center;
}
.quality_carousel .owl-dots .owl-dot {
    margin-left: 10px;
    margin-top: 30px;
  }

.quality_carousel .owl-dots .owl-dot span{
    height: 8px;
    width: 8px;
   background: black;
   border-radius: 50px;
   display: block;
}
footer {

    background: #15141a;
    
    padding-top: 60px;
    
    padding-bottom: 30px;
    }
    
    .footer-up {}
    
    .footer-up ul {
    
        display: flex;
    
        text-align: center;
    
        justify-content: center;
    
        padding: 0;
    
        padding-left: 55px;
    }
    
    .footer-up ul li {
    
        list-style: none;
    
        margin-right: 50px;
    }
    
    .footer-up ul li a {
    
        text-decoration: none;
    
        color: #444348;
    }
    
    .footer-up ul li a i {
    
    /* width: 29px; */
    
    /* height: 42px; */
    
    font-size: 20px;
    }
    
    .footer-down {}
    
    .footer-down p {
    
    color: #444348;
    
    text-align: center;
    margin-top: 15px;
    font-size: 19px;
    }
    
    .footer-up ul li a i:hover {
        color: #008ed6;
        transition: .3s all ease-in-out;
    }
    
